</div><!--end page-wrapper-img-inner-->
</div><!--end page-wrapper-img-->

<div class="page-wrapper">
    <div class="page-wrapper-inner">

        <!-- Left Sidenav -->
        <div class="left-sidenav">
                        <ul class="metismenu left-sidenav-menu" id="side-nav">
                <li class="menu-title">Main</li>
                <li>
                    <a href="/home"><i class="mdi mdi-monitor"></i><span>Dashboard</span><span class="badge badge-danger badge-pill float-right">9+</span></a>
                    
                </li>
                <li class="active">
                    <a href="javascript: void(0);"><i class="mdi mdi-apps"></i><span>Management</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                    <ul class="nav-second-level" aria-expanded="true">
                        <li><a href="/sectionmanagement"><span>Section Management</span></a></li>
                        <li><a href="/patientmanagement"><span>Patient Management</span></a></li>
                        <li><a href="/oxygenmanagement"><span>Oxygen Management</span></a></li>
                       
                    </ul>
                </li>
                <li class="active">
                    <a href="/javascript: void(0);"><i class="mdi mdi-apps"></i><span>Patient List</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                    <ul class="nav-second-level" aria-expanded="true">
                        <li><a href="/activepatientlist_do"><span>Active Patient List</span></a></li>
                        <li><a href="/dischargedpatientlist_do"><span>Discharged Patient List</span></a></li>
                       
                    </ul>
                </li>
                <li class="active">
                    <a href="/javascript: void(0);"><i class="mdi mdi-apps"></i><span>Referrals</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                    <ul class="nav-second-level" aria-expanded="true">
                        <li><a href="/in-referralsmanagement"><span>Incoming Referrals</span></a></li>
                        <li><a href="/out-referralsmanagement"><span>Out Going Referrals</span></a></li>
                       
                    </ul>
                </li>

                
            </ul>
        </div>