<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="title" content="SWOSTH EMERGENCY CONTACT">
      <meta property="og:type" content="EMERGENCY CONTACT"/>
      <meta property="og:url" content="https://swosth.in" />
      <meta property="og:title" content="SWOSTH EMERGENCY CONTACT">
      <meta property="og:image" content="https://swosth.in">
      <meta property="og:description" content="Swosth Emergency Contact for Ganjam District">
      <meta name="full-screen" content="yes">
      <meta name="theme-color" content="#269bef">
      <!-- Responsive -->
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>SWOSTH EMERGENCY | COVID GANJAM EMERGENCY CONTACT | GANJAM COVID HELPLINE | AMBULANCE | TECEADS </title>
      <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="assets/css/style.css">
      <link rel="stylesheet" type="text/css" href="assets/fonts/font/flaticon.css">
      <!---------favicon--------------->
      <link rel="icon" type="image/png" href="assets/image/favicon-32x32.png" sizes="32x32">
      <link rel="icon" type="image/png" href="assets/image/favicon-16x16.png" sizes="16x16">
      <!---------favicon--------------->
      <!-- Google analytics script -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-78L69B4716"></script>
      <script>
         window.dataLayer = window.dataLayer || [];
         function gtag(){dataLayer.push(arguments);}
         gtag('js', new Date());

         gtag('config', 'G-78L69B4716');
      </script>
   </head>
   <body class="home_page_one">
      <div class="page_wapper">
         <!--Start Preloader-->
         <div class="preloader">
            <div class="preloader_box">
               <div class="loader">
                  <div class="circle item0"></div>
                  <div class="circle item1"></div>
                  <div class="circle item2"></div>
               </div>
            </div>
         </div>
         <!--End Preloader -->
         <!--Header-->
         <header class="main-header header_v1">
            <!--Header Top-->
            <div class="navbar_outer" >
               <div class="navbar navbar-expand-lg  bsnav bsnav-sticky bsnav-sticky-slide ">
                  <div class="container-fluid">
                     <a class="navbar-brand" href="index.html"><img src="assets/image/logo2.png" width="200" class="img-fluid" alt="img"></a>
                     <button class="navbar-toggler toggler-spring"><span class="navbar-toggler-icon"></span></button>
                     <div class="collapse navbar-collapse scroll-nav">
                        <ul class="navbar-nav navbar-mobile navbar_left  ml-auto">
                           <li class="nav-item"><a class="nav-link link_hd" href="index.html#home">Home</a></li>
                           <!-- <li class="nav-item"><a class="nav-link link_hd" href="index.html#services">Services</a></li> -->
                           <li class="nav-item"><a class="nav-link link_hd" href="index.html#emergency">Emergency Contacts</a></li>
                           <!-- <li class="nav-item"><a class="nav-link link_hd" href="survey/index">Health Survey</a></li> -->
                           <li class="nav-item"><a class="nav-link link_hd" href="index.html#symptoms">Symptoms </a></li>
                           <li class="nav-item"><a class="nav-link link_hd" href="index.html#prevention">Prevention</a></li>
                           <!-- <li class="nav-item"><a class="nav-link link_hd" href="#doctors">Doctors</a></li> -->
                           <li class="nav-item"><a class="nav-link link_hd" href="index.html#tweets">Tweets</a></li>
                        </ul>
                        <ul class="navbar-nav navbar-mobile navbar_right ml-auto">
                           <!-- <li class="nav-item dropdown">
                              <a href="#" class="theme_btn tp_one">Find Doctors</a>
                           </li> -->
                           <li class="nav-item two_icon dropdown">
                              <a href="#" class="topbar-one__search search-popup__toggler"><i class="flaticon-magnifying-glass icon"></i></a>
                              <!-- /.site-header__cart -->
                              
                           </li>
                           <li>
                              <span><img src="assets/image/5t_logo.png" alt="" width="190" style="margin-left:10px;"></span>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </header>
         <!--Header-->
         <!------main-content------>
         <main class="main-content">
            <section class="page_title">
               <div class="container">
                  <div class="row">
                     <div class="col-lg-12 d-flex">
                        <div class="content_box">
                           <ul class="bread_crumb text-center">
                              <li class="bread_crumb-item"><a href="#">Home</a></li>
                              <li class="bread_crumb-item active"> COVID Helpline</li>
                           </ul>
                           <h1>Emergency Contacts</h1>
                           <p style="text-align: center;color:#fff;">(Only For Ganjam)</p>
                        </div>
                     </div>
                  </div>
               </div>
            </section>
            <!--------doctors-------->
            <section class="team_all">
               <div class="container">
                  <div class="row">

                     <div class="col-lg-4">
                        <div class="icon_box cont wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                           <div class="content_box">
                              <div class="doctor_box type_two" style="position: relative;margin: 10px 15px 0px; border-radius: 10px;">
                                 <div class="content_box ">
                                    <a href="tel:+91-7608880480" class="contact_doctor "><span class="fa fa-phone "></span>+91-7608880480</a>
                                    <div class="text_box ">
                                       <h2> <a href="# ">BEMC BERHAMPUR</a> </h2>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4">
                        <div class="icon_box cont wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                           <div class="content_box">
                              <div class="doctor_box type_two" style="position: relative;margin: 10px 15px 0px; border-radius: 10px;">
                                 <div class="content_box ">
                                    <a href="tel:+91-8260665755" class="contact_doctor "><span class="fa fa-phone "></span>+91-8260665755</a>
                                    <div class="text_box ">
                                       <h2> <a href="# ">District Helpline-1</a> </h2>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4">
                        <div class="icon_box cont wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                           <div class="content_box">
                              <div class="doctor_box type_two" style="position: relative;margin: 10px 15px 0px; border-radius: 10px;">
                                 <div class="content_box ">
                                    <a href="tel:+91-7752055567" class="contact_doctor "><span class="fa fa-phone "></span>+91-7752055567</a>
                                    <div class="text_box ">
                                       <h2> <a href="# ">District Helpline-2</a> </h2>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4">
                        <div class="icon_box cont wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                           <div class="content_box">
                              <div class="doctor_box type_two" style="position: relative;margin: 10px 15px 0px; border-radius: 10px;">
                                 <div class="content_box ">
                                    <a href="tel:+91-8895266728" class="contact_doctor "><span class="fa fa-phone "></span>+91-8895266728</a>
                                    <div class="text_box ">
                                       <h2> <a href="# ">Aska Block</a> </h2>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4">
                        <div class="icon_box cont wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                           <div class="content_box">
                              <div class="doctor_box type_two" style="position: relative;margin: 10px 15px 0px; border-radius: 10px;">
                                 <div class="content_box ">
                                    <a href="tel:+91-8658669577" class="contact_doctor "><span class="fa fa-phone "></span>+91-8658669577</a>
                                    <div class="text_box ">
                                       <h2> <a href="# ">Beguniapada Block</a> </h2>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4">
                        <div class="icon_box cont wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                           <div class="content_box">
                              <div class="doctor_box type_two" style="position: relative;margin: 10px 15px 0px; border-radius: 10px;">
                                 <div class="content_box ">
                                    <a href="tel:+91-8117089626" class="contact_doctor "><span class="fa fa-phone "></span>+91-8117089626</a>
                                    <div class="text_box ">
                                       <h2> <a href="# ">Bellaguntha</a> </h2>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4">
                        <div class="icon_box cont wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                           <div class="content_box">
                              <div class="doctor_box type_two" style="position: relative;margin: 10px 15px 0px; border-radius: 10px;">
                                 <div class="content_box ">
                                    <a href="tel:+91-8280402086" class="contact_doctor "><span class="fa fa-phone "></span>+91-8280402086</a>
                                    <div class="text_box ">
                                       <h2> <a href="# ">Bhanjanagar</a> </h2>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4">
                        <div class="icon_box cont wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                           <div class="content_box">
                              <div class="doctor_box type_two" style="position: relative;margin: 10px 15px 0px; border-radius: 10px;">
                                 <div class="content_box ">
                                    <a href="tel:+91-9777579159" class="contact_doctor "><span class="fa fa-phone "></span>+91-9777579159</a>
                                    <div class="text_box ">
                                       <h2> <a href="# ">Buguda</a> </h2>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4">
                        <div class="icon_box cont wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                           <div class="content_box">
                              <div class="doctor_box type_two" style="position: relative;margin: 10px 15px 0px; border-radius: 10px;">
                                 <div class="content_box ">
                                    <a href="tel:+91-8280405121" class="contact_doctor "><span class="fa fa-phone "></span>+91-8280405121</a>
                                    <div class="text_box ">
                                       <h2> <a href="# ">Chhatrapur</a> </h2>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4">
                        <div class="icon_box cont wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                           <div class="content_box">
                              <div class="doctor_box type_two" style="position: relative;margin: 10px 15px 0px; border-radius: 10px;">
                                 <div class="content_box ">
                                    <a href="tel:+91-8480684096" class="contact_doctor "><span class="fa fa-phone "></span>+91-8480684096</a>
                                    <div class="text_box ">
                                       <h2> <a href="# ">Chikiti</a> </h2>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4">
                        <div class="icon_box cont wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                           <div class="content_box">
                              <div class="doctor_box type_two" style="position: relative;margin: 10px 15px 0px; border-radius: 10px;">
                                 <div class="content_box ">
                                    <a href="tel:+91-9777577567" class="contact_doctor "><span class="fa fa-phone "></span>+91-9777577567</a>
                                    <div class="text_box ">
                                       <h2> <a href="# ">Dharakote</a> </h2>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4">
                        <div class="icon_box cont wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                           <div class="content_box">
                              <div class="doctor_box type_two" style="position: relative;margin: 10px 15px 0px; border-radius: 10px;">
                                 <div class="content_box ">
                                    <a href="tel:+91-9958045402" class="contact_doctor "><span class="fa fa-phone "></span>+91-9958045402</a>
                                    <div class="text_box ">
                                       <h2> <a href="# ">Digapahandi</a> </h2>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4">
                        <div class="icon_box cont wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                           <div class="content_box">
                              <div class="doctor_box type_two" style="position: relative;margin: 10px 15px 0px; border-radius: 10px;">
                                 <div class="content_box ">
                                    <a href="tel:+91-9438141354" class="contact_doctor "><span class="fa fa-phone "></span>+91-9438141354</a>
                                    <div class="text_box ">
                                       <h2> <a href="# ">Ganjam</a> </h2>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4">
                        <div class="icon_box cont wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                           <div class="content_box">
                              <div class="doctor_box type_two" style="position: relative;margin: 10px 15px 0px; border-radius: 10px;">
                                 <div class="content_box ">
                                    <a href="tel:+91-7609970270" class="contact_doctor "><span class="fa fa-phone "></span>+91-7609970270</a>
                                    <div class="text_box ">
                                       <h2> <a href="# ">Hinjilicut</a> </h2>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4">
                        <div class="icon_box cont wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                           <div class="content_box">
                              <div class="doctor_box type_two" style="position: relative;margin: 10px 15px 0px; border-radius: 10px;">
                                 <div class="content_box ">
                                    <a href="tel:+91-7205941850" class="contact_doctor "><span class="fa fa-phone "></span>+91-7205941850</a>
                                    <div class="text_box ">
                                       <h2> <a href="# ">Jagannathprasad</a> </h2>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4">
                        <div class="icon_box cont wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                           <div class="content_box">
                              <div class="doctor_box type_two" style="position: relative;margin: 10px 15px 0px; border-radius: 10px;">
                                 <div class="content_box ">
                                    <a href="tel:+91-8917542483" class="contact_doctor "><span class="fa fa-phone "></span>+91-8917542483</a>
                                    <div class="text_box ">
                                       <h2> <a href="# ">Kabisurya Nagar</a> </h2>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4">
                        <div class="icon_box cont wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                           <div class="content_box">
                              <div class="doctor_box type_two" style="position: relative;margin: 10px 15px 0px; border-radius: 10px;">
                                 <div class="content_box ">
                                    <a href="tel:+91-9178750734" class="contact_doctor "><span class="fa fa-phone "></span>+91-9178750734</a>
                                    <div class="text_box ">
                                       <h2> <a href="# ">Khallikote</a> </h2>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4">
                        <div class="icon_box cont wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                           <div class="content_box">
                              <div class="doctor_box type_two" style="position: relative;margin: 10px 15px 0px; border-radius: 10px;">
                                 <div class="content_box ">
                                    <a href="tel:+91-8280405130" class="contact_doctor "><span class="fa fa-phone "></span>+91-8280405130</a>
                                    <div class="text_box ">
                                       <h2> <a href="# ">Kukudakhandi</a> </h2>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4">
                        <div class="icon_box cont wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                           <div class="content_box">
                              <div class="doctor_box type_two" style="position: relative;margin: 10px 15px 0px; border-radius: 10px;">
                                 <div class="content_box ">
                                    <a href="tel:+91-9861150429" class="contact_doctor "><span class="fa fa-phone "></span>+91-9861150429</a>
                                    <div class="text_box ">
                                       <h2> <a href="# ">Patrapur</a> </h2>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4">
                        <div class="icon_box cont wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                           <div class="content_box">
                              <div class="doctor_box type_two" style="position: relative;margin: 10px 15px 0px; border-radius: 10px;">
                                 <div class="content_box ">
                                    <a href="tel:+91-7681083696" class="contact_doctor "><span class="fa fa-phone "></span>+91-7681083696</a>
                                    <div class="text_box ">
                                       <h2> <a href="# ">Polasara</a> </h2>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4">
                        <div class="icon_box cont wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                           <div class="content_box">
                              <div class="doctor_box type_two" style="position: relative;margin: 10px 15px 0px; border-radius: 10px;">
                                 <div class="content_box ">
                                    <a href="tel:+91-7205030108" class="contact_doctor "><span class="fa fa-phone "></span>+91-7205030108</a>
                                    <div class="text_box ">
                                       <h2> <a href="# ">Purusottampur</a> </h2>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4">
                        <div class="icon_box cont wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                           <div class="content_box">
                              <div class="doctor_box type_two" style="position: relative;margin: 10px 15px 0px; border-radius: 10px;">
                                 <div class="content_box ">
                                    <a href="tel:+91-8598908492" class="contact_doctor "><span class="fa fa-phone "></span>+91-8598908492</a>
                                    <div class="text_box ">
                                       <h2> <a href="# ">Rangeilunda</a> </h2>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4">
                        <div class="icon_box cont wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                           <div class="content_box">
                              <div class="doctor_box type_two" style="position: relative;margin: 10px 15px 0px; border-radius: 10px;">
                                 <div class="content_box ">
                                    <a href="tel:+91-9937546320" class="contact_doctor "><span class="fa fa-phone "></span>+91-9937546320</a>
                                    <div class="text_box ">
                                       <h2> <a href="# ">Sankhemundi</a> </h2>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4">
                        <div class="icon_box cont wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                           <div class="content_box">
                              <div class="doctor_box type_two" style="position: relative;margin: 10px 15px 0px; border-radius: 10px;">
                                 <div class="content_box ">
                                    <a href="tel:+91-9437207712" class="contact_doctor "><span class="fa fa-phone "></span>+91-9437207712</a>
                                    <div class="text_box ">
                                       <h2> <a href="# ">Shergada</a> </h2>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4">
                        <div class="icon_box cont wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                           <div class="content_box">
                              <div class="doctor_box type_two" style="position: relative;margin: 10px 15px 0px; border-radius: 10px;">
                                 <div class="content_box ">
                                    <a href="tel:+91-9438483367" class="contact_doctor "><span class="fa fa-phone "></span>+91-9438483367</a>
                                    <div class="text_box ">
                                       <h2> <a href="# ">Surada</a> </h2>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4">
                        <div class="icon_box cont wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                           <div class="content_box">
                              <div class="doctor_box type_two" style="position: relative;margin: 10px 15px 0px; border-radius: 10px;">
                                 <div class="content_box ">
                                    <a href="tel:+91-8249090432" class="contact_doctor "><span class="fa fa-phone "></span>+91-8249090432</a>
                                    <div class="text_box ">
                                       <h2> <a href="# ">Aska (NAC)</a> </h2>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4">
                        <div class="icon_box cont wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                           <div class="content_box">
                              <div class="doctor_box type_two" style="position: relative;margin: 10px 15px 0px; border-radius: 10px;">
                                 <div class="content_box ">
                                    <a href="tel:+91-6370710651" class="contact_doctor "><span class="fa fa-phone "></span>+91-6370710651</a>
                                    <div class="text_box ">
                                       <h2> <a href="# ">Bellaguntha (NAC)</a> </h2>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4">
                        <div class="icon_box cont wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                           <div class="content_box">
                              <div class="doctor_box type_two" style="position: relative;margin: 10px 15px 0px; border-radius: 10px;">
                                 <div class="content_box ">
                                    <a href="tel:+91-9861540194" class="contact_doctor "><span class="fa fa-phone "></span>+91-9861540194</a>
                                    <div class="text_box ">
                                       <h2> <a href="# ">Bhanjanagar (NAC)</a> </h2>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4">
                        <div class="icon_box cont wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                           <div class="content_box">
                              <div class="doctor_box type_two" style="position: relative;margin: 10px 15px 0px; border-radius: 10px;">
                                 <div class="content_box ">
                                    <a href="tel:+91-7815076956" class="contact_doctor "><span class="fa fa-phone "></span>+91-7815076956</a>
                                    <div class="text_box ">
                                       <h2> <a href="# ">Buguda (NAC)</a> </h2>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4">
                        <div class="icon_box cont wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                           <div class="content_box">
                              <div class="doctor_box type_two" style="position: relative;margin: 10px 15px 0px; border-radius: 10px;">
                                 <div class="content_box ">
                                    <a href="tel:+91-9438251903" class="contact_doctor "><span class="fa fa-phone "></span>+91-9438251903</a>
                                    <div class="text_box ">
                                       <h2> <a href="# ">Chatrapur (NAC)</a> </h2>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4">
                        <div class="icon_box cont wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                           <div class="content_box">
                              <div class="doctor_box type_two" style="position: relative;margin: 10px 15px 0px; border-radius: 10px;">
                                 <div class="content_box ">
                                    <a href="tel:+91-9439338898" class="contact_doctor "><span class="fa fa-phone "></span>+91-9439338898</a>
                                    <div class="text_box ">
                                       <h2> <a href="# ">Chikiti (NAC)</a> </h2>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4">
                        <div class="icon_box cont wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                           <div class="content_box">
                              <div class="doctor_box type_two" style="position: relative;margin: 10px 15px 0px; border-radius: 10px;">
                                 <div class="content_box ">
                                    <a href="tel:+91-7008050567" class="contact_doctor "><span class="fa fa-phone "></span>+91-7008050567</a>
                                    <div class="text_box ">
                                       <h2> <a href="# ">Digapahandi (NAC)</a> </h2>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4">
                        <div class="icon_box cont wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                           <div class="content_box">
                              <div class="doctor_box type_two" style="position: relative;margin: 10px 15px 0px; border-radius: 10px;">
                                 <div class="content_box ">
                                    <a href="tel:+91-9348727975" class="contact_doctor "><span class="fa fa-phone "></span>+91-9348727975</a>
                                    <div class="text_box ">
                                       <h2> <a href="# ">Ganjam (NAC)</a> </h2>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4">
                        <div class="icon_box cont wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                           <div class="content_box">
                              <div class="doctor_box type_two" style="position: relative;margin: 10px 15px 0px; border-radius: 10px;">
                                 <div class="content_box ">
                                    <a href="tel:+91-9861938957" class="contact_doctor "><span class="fa fa-phone "></span>+91-9861938957</a>
                                    <div class="text_box ">
                                       <h2> <a href="# ">Gopalpur (NAC)</a> </h2>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4">
                        <div class="icon_box cont wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                           <div class="content_box">
                              <div class="doctor_box type_two" style="position: relative;margin: 10px 15px 0px; border-radius: 10px;">
                                 <div class="content_box ">
                                    <a href="tel:+91-8480528957" class="contact_doctor "><span class="fa fa-phone "></span>+91-8480528957</a>
                                    <div class="text_box ">
                                       <h2> <a href="# ">Hinjili Municipality</a> </h2>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4">
                        <div class="icon_box cont wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                           <div class="content_box">
                              <div class="doctor_box type_two" style="position: relative;margin: 10px 15px 0px; border-radius: 10px;">
                                 <div class="content_box ">
                                    <a href="tel:+91-8093907020" class="contact_doctor "><span class="fa fa-phone "></span>+91-8093907020</a>
                                    <div class="text_box ">
                                       <h2> <a href="# ">Kabisurya Nagar (NAC)</a> </h2>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4">
                        <div class="icon_box cont wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                           <div class="content_box">
                              <div class="doctor_box type_two" style="position: relative;margin: 10px 15px 0px; border-radius: 10px;">
                                 <div class="content_box ">
                                    <a href="tel:+91-7735060373" class="contact_doctor "><span class="fa fa-phone "></span>+91-7735060373</a>
                                    <div class="text_box ">
                                       <h2> <a href="# ">Khalikote (NAC)</a> </h2>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4">
                        <div class="icon_box cont wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                           <div class="content_box">
                              <div class="doctor_box type_two" style="position: relative;margin: 10px 15px 0px; border-radius: 10px;">
                                 <div class="content_box ">
                                    <a href="tel:+91-7008437446" class="contact_doctor "><span class="fa fa-phone "></span>+91-7008437446</a>
                                    <div class="text_box ">
                                       <h2> <a href="# ">Kodala (NAC)</a> </h2>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4">
                        <div class="icon_box cont wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                           <div class="content_box">
                              <div class="doctor_box type_two" style="position: relative;margin: 10px 15px 0px; border-radius: 10px;">
                                 <div class="content_box ">
                                    <a href="tel:+91-8260637822" class="contact_doctor "><span class="fa fa-phone "></span>+91-9861938957</a>
                                    <div class="text_box ">
                                       <h2> <a href="# ">Polasara (NAC)</a> </h2>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4">
                        <div class="icon_box cont wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                           <div class="content_box">
                              <div class="doctor_box type_two" style="position: relative;margin: 10px 15px 0px; border-radius: 10px;">
                                 <div class="content_box ">
                                    <a href="tel:+91-7327967315" class="contact_doctor "><span class="fa fa-phone "></span>+91-7327967315</a>
                                    <div class="text_box ">
                                       <h2> <a href="# ">Purusottampur (NAC)</a> </h2>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4">
                        <div class="icon_box cont wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                           <div class="content_box">
                              <div class="doctor_box type_two" style="position: relative;margin: 10px 15px 0px; border-radius: 10px;">
                                 <div class="content_box ">
                                    <a href="tel:+91-9040671522" class="contact_doctor "><span class="fa fa-phone "></span>+91-9040671522</a>
                                    <div class="text_box ">
                                       <h2> <a href="# ">Rambha (NAC)</a> </h2>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4">
                        <div class="icon_box cont wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                           <div class="content_box">
                              <div class="doctor_box type_two" style="position: relative;margin: 10px 15px 0px; border-radius: 10px;">
                                 <div class="content_box ">
                                    <a href="tel:+91-9337951927" class="contact_doctor "><span class="fa fa-phone "></span>+91-9337951927</a>
                                    <div class="text_box ">
                                       <h2> <a href="# ">Sorada (NAC)</a> </h2>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="container">
                  <div class="row">
                     <div class='col-lg-12'  style='text-align:center'>
                        <p style='color:#000;margin-top:2%;font-size:120%;line-height:30px;text-align:center'><b>Powered By</b></p>
                     </div>
                  </div>
                  <div class="row" style='margin-top:2%;'>
                     <div class="col-lg-2"></div>
                     <div class="col-lg-4 col-4" style='text-align:center'>
                        <a href='https://odisha.gov.in/' target="_blank"><img src="assets/image/govtodisha.svg" alt="bemc" width='300' class='img-fluid'></a>
                     </div>
                     <div class="col-lg-4 col-4" style='text-align:center'>
                         <a href='https://health.odisha.gov.in/' target='_blank'><img src="assets/image/odisha-logo.png" alt="ganjam" width='800' class='img-fluid'></a>
                     </div>
                  </div>
               </div>
            </section>
            <section class="footer type_two ">
               <div class="footer_layer" style="background-image: url(assets/image/resources/footer-bg1.png);"></div>
               <div class="container ">
                  <div class="row">
                     <div class='col-lg-12'  style='text-align:center'>
                        <a href="index.html"><img src="assets/image/home-1-logo-white.png " width='190' class="img-fluid " alt="logo "></a> <p style='color:#fff;margin-top:2%;font-size:120%;line-height:30px;text-align:center'>In Collaboration Wth</p>
                     </div>
                  </div>
                  <div class="row" style='margin-top:2%;'>
                     <div class="col-lg-4 col-4" style='text-align:center'>
                        <a href='http://berhampur.gov.in' target="_blank"><img src="assets/image/bemc.png" alt="bemc" width='200' class='img-fluid'></a>
                     </div>
                     <div class="col-lg-4 col-4" style='text-align:center'>
                         <a href='https://ganjam.nic.in' target='_blank'><img src="assets/image/ganjam.png" alt="ganjam" width='120' class='img-fluid'></a>
                     </div>
                     <div class="col-lg-4 col-4" style='text-align:center'>
                        <a href='https://teceads.com' target='_blank'><img src="assets/image/teceads.png" alt="teceads" width='130' class='img-fluid'></a>
                     </div>
                  </div>
                  <div class="footer_last type_two ">
                     <div class="row ">
                        <div class="col-lg-12 text-center ">
                           <p>Copyright © 2021 SWOSTH. All Rights Reserved  <a href='https://www.teceads.com'>Teceads</a>.</p>
                        </div>
                     </div>
                  </div>
               </div>
            </section>
            <!-------------main-centent-end--------------->
         </main>
         <!-------------pagewapper-end--------------->
      </div>
      <!--Scroll to top-->
      <a href="# " id="scroll" class="default-bg " style="display: inline;"><span class="fa fa-angle-up "></span></a>
      <!---------mbile-navbar----->
      <div class="bsnav-mobile ">
         <div class="bsnav-mobile-overlay"></div>
         <div class="navbar ">
            <button class="navbar-toggler toggler-spring mobile-toggler"><span class="fa fa-close "></span></button>
         </div>
      </div>
      <!---------mbile-navbar----->
      <!-- /.side-menu__block -->
      <div class="side-menu__block">
         <div class="side-menu__block-overlay custom-cursor__overlay">
            <div class="cursor"></div>
            <div class="cursor-follower"></div>
         </div>
         <!-- /.side-menu__block-overlay -->
         <div class="side-menu__block-inner">
            <div class="row">
               <div class="col-lg-12">
                  <div class="logo_site">
                     <a href="index"><img src="assets/image/home-1-logo.png" alt="logo" /></a>
                  </div>
                  <div class="side-menu__block-contact">
                     <h2>Quick Online Consultancy Only on Few Minutes</h2>
                     <div class="form_outer">
                        <form>
                           <div class="from_group">
                              <input type="text" name="name" placeholder="Name" />
                           </div>
                           <div class="from_group">
                              <input type="email" name="email" placeholder="Email" />
                           </div>
                           <div class="from_group">
                              <input type="text" name="phone" placeholder="Phone" />
                           </div>
                           <div class="from_group">
                              <textarea rows="4" placeholder="Share Your Thoughts"></textarea>
                           </div>
                           <div class="from_group">
                              <button  class="theme_btn tp_one" type="submit">Contact Us</button>
                           </div>
                        </form>
                     </div>
                  </div>
                  <!-- /.side-menu__block-contact -->
                  <p class="side-menu__block__text site-footer__copy-text">Copyright © 2020 SWOSTH.</p>
               </div>
            </div>
            <!-- /.side-menu__block-inner -->
         </div>
      </div>
      <!-- /.side-menu__block -->
      <!-- /.search-popup -->
      <div class="search-popup">
         <div class="search-popup__overlay custom-cursor__overlay">
            <div class="cursor "></div>
            <div class="cursor-follower "></div>
         </div>
         <!-- /.search-popup__overlay -->
         <div class="search-popup__inner ">
            <form action="# " class="search-popup__form ">
               <input type="text" name="search" placeholder="Type here to Search.... ">
               <button type="submit"><i class="flaticon-magnifying-glass "></i></button>
            </form>
         </div>
         <!-- /.search-popup__inner -->
      </div>
      <!-- /.search-popup -->
      <!-----------------------------------script-------------------------------------->
      <script src="assets/js/jquery.js "></script>
      <script src="assets/js/popper.min.js "></script>
      <script src="assets/js/bootstrap.min.js "></script>
      <script src="assets/js/bsnav.min.js "></script>
      <script src="assets/js/jquery-ui.js "></script>
      
      <script src="assets/js/wow.js "></script>
      <script src="assets/js/owl.js "></script>
      <script src="assets/js/odometer.min.js "></script>
      <script src="assets/js/TweenMax.min.js "></script>
      <script src="assets/js/validator.min.js "></script>
      <script src="assets/js/appear.js "></script>
      <script src="assets/js/moment.js "></script>
      <script src="assets/js/jquery.flexslider-min.js"></script>
      <script src="assets/js/pagenav.js"></script>
      <script src="assets/js/custom.js "></script>
   </body>
</html>