<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="title" content="SWOSTH EMERGENCY CONTACT">
      <meta property="og:type" content="EMERGENCY CONTACT"/>
      <meta property="og:url" content="https://swosth.in" />
      <meta property="og:title" content="SWOSTH EMERGENCY CONTACT">
      <meta property="og:image" content="https://swosth.in">
      <meta property="og:description" content="Swosth Emergency Contact for Ganjam District">
      <meta name="full-screen" content="yes">
      <meta name="theme-color" content="#269bef">
      <!-- Responsive -->
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>SWOSTH EMERGENCY | COVID GANJAM EMERGENCY CONTACT | GANJAM COVID HELPLINE | AMBULANCE | TECEADS </title>
      <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="assets/css/style.css">
      <link rel="stylesheet" type="text/css" href="assets/fonts/font/flaticon.css">
      <!---------favicon--------------->
      <link rel="icon" type="image/png" href="assets/image/favicon-32x32.png" sizes="32x32">
      <link rel="icon" type="image/png" href="assets/image/favicon-16x16.png" sizes="16x16">
      <!---------favicon--------------->
      <!-- Google analytics script -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-78L69B4716"></script>
      <script>
         window.dataLayer = window.dataLayer || [];
         function gtag(){dataLayer.push(arguments);}
         gtag('js', new Date());

         gtag('config', 'G-78L69B4716');
      </script>
      <style>
         .left{
            width:45%;
            text-align: center;
            position: relative;
            padding:10px;
            background: #fff;
            border-radius: 10px;
            box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, .15);
            margin-bottom: 30px;
            -webkit-transition: all .6s ease-in-out;
            -moz-transition: all .6s ease-in-out;
            -ms-transition: all .6s ease-in-out;
            -o-transition: all .6s ease-in-out;
            transition: all .6s ease-in-out;
            overflow: hidden;margin-right: 5%;margin-left: 2.5%;
         }
         .right{
            width:45%;
            text-align: center;
            position: relative;
            padding:10px;
            background: #fff;
            border-radius: 10px;
            box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, .15);
            margin-bottom: 30px;
            -webkit-transition: all .6s ease-in-out;
            -moz-transition: all .6s ease-in-out;
            -ms-transition: all .6s ease-in-out;
            -o-transition: all .6s ease-in-out;
            transition: all .6s ease-in-out;
            overflow: hidden;
         }
         .active1{
            background: #269bef;
            color:#fff
         }
      </style>
      <script>
         function switcher(str)
         {
            if(str=="free")
            {
               document.getElementById('paid').classList.remove('active1');
               document.getElementById('free').classList.add("active1");
               document.getElementById('free_box').style.display='block';
               document.getElementById('paid_box').style.display='none';
            }
            else if(str=="paid")
            {
               document.getElementById('free').classList.remove("active1");
               document.getElementById('paid').classList.add('active1');
               document.getElementById('free_box').style.display='none';
               document.getElementById('paid_box').style.display='block';
            }
         }
      </script>
   </head>
   <body class="home_page_one">
      <div class="page_wapper">
         <!--Start Preloader-->
         <div class="preloader">
            <div class="preloader_box">
               <div class="loader">
                  <div class="circle item0"></div>
                  <div class="circle item1"></div>
                  <div class="circle item2"></div>
               </div>
            </div>
         </div>
         <!--End Preloader -->
         <!--Header-->
         <header class="main-header header_v1">
            <!--Header Top-->
            <div class="navbar_outer" >
               <div class="navbar navbar-expand-lg  bsnav bsnav-sticky bsnav-sticky-slide ">
                  <div class="container-fluid">
                     <a class="navbar-brand" href="index.html"><img src="assets/image/logo2.png" width="200" class="img-fluid" alt="img"></a>
                     <button class="navbar-toggler toggler-spring"><span class="navbar-toggler-icon"></span></button>
                     <div class="collapse navbar-collapse scroll-nav">
                        <ul class="navbar-nav navbar-mobile navbar_left  ml-auto">
                           <li class="nav-item"><a class="nav-link link_hd" href="index.html#home">Home</a></li>
                           <!-- <li class="nav-item"><a class="nav-link link_hd" href="index.html#services">Services</a></li> -->
                           <li class="nav-item"><a class="nav-link link_hd" href="index.html#emergency">Emergency Contacts</a></li>
                           <!-- <li class="nav-item"><a class="nav-link link_hd" href="survey/index">Health Survey</a></li> -->
                           <li class="nav-item"><a class="nav-link link_hd" href="index.html#symptoms">Symptoms </a></li>
                           <li class="nav-item"><a class="nav-link link_hd" href="index.html#prevention">Prevention</a></li>
                           <!-- <li class="nav-item"><a class="nav-link link_hd" href="#doctors">Doctors</a></li> -->
                           <li class="nav-item"><a class="nav-link link_hd" href="index.html#tweets">Tweets</a></li>
                        </ul>
                        <ul class="navbar-nav navbar-mobile navbar_right ml-auto">
                           <!-- <li class="nav-item dropdown">
                              <a href="#" class="theme_btn tp_one">Find Doctors</a>
                           </li> -->
                           <li class="nav-item two_icon dropdown">
                              <a href="#" class="topbar-one__search search-popup__toggler"><i class="flaticon-magnifying-glass icon"></i></a>
                              <!-- /.site-header__cart -->
                              
                           </li>
                           <li>
                              <span><img src="assets/image/5t_logo.png" alt="" width="190" style="margin-left:10px;"></span>
   
                              </li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </header>
         <!--Header-->
         <!------main-content------>
         <main class="main-content">
            <section class="page_title">
               <div class="container">
                  <div class="row">
                     <div class="col-lg-12 d-flex">
                        <div class="content_box">
                           <ul class="bread_crumb text-center">
                              <li class="bread_crumb-item"><a href="#">Home</a></li>
                              <li class="bread_crumb-item active"> Doctors</li>
                           </ul>
                           <h1>Emergency Contacts</h1>
                        </div>
                     </div>
                  </div>
               </div>
            </section>
            <!--------doctors-------->
            <section class="team_all">
               <div class="container" id="free_box">
                  <div class="row">
                     <div class="col-lg-4">
                        <div class="icon_box cont wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                           <div class="content_box">
                              <div class="doctor_box type_two" style="position: relative;margin: 10px 15px 0px; border-radius: 10px;">
                                 <div class="content_box ">
                                    <a href="tel:7815070098" class="contact_doctor "><span class="fa fa-phone "></span>7815070098</a><br>
                                    <a href="tel:7815074144" class="contact_doctor " style="margin-top: -35px;"><span class="fa fa-phone "></span>7815074144</a><br>
                                    <div class="text_box ">
                                       <h2> <a href="# ">Tele Medicine Helpline</a> </h2>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4">
                        <div class="icon_box cont wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                           <div class="content_box">
                              <div class="doctor_box type_two" style="position: relative;margin: 10px 15px 0px; border-radius: 10px;">
                                 <div class="content_box ">
                                    <a href="tel:7815063436" class="contact_doctor "><span class="fa fa-phone "></span>7815063436</a><br>
                                    <a href="tel:7815076613" class="contact_doctor " style="margin-top: -35px;"><span class="fa fa-phone "></span>7815076613</a><br>
                                    <div class="text_box ">
                                       <h2> <a href="# ">Tele Medicine Helpline</a> </h2>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4">
                        <div class="icon_box cont wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                           <div class="content_box">
                              <div class="doctor_box type_two" style="position: relative;margin: 10px 15px 0px; border-radius: 10px;">
                                 <div class="content_box ">
                                    <a href="tel:7064588070" class="contact_doctor "><span class="fa fa-phone "></span>7064588070</a><br>
                                    <a href="tel:8260727171" class="contact_doctor " style="margin-top: -35px;"><span class="fa fa-phone "></span>8260727171</a><br>
                                    <div class="text_box ">
                                       <h2> <a href="# ">Tele Medicine Helpline</a> </h2>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4">
                        <div class="icon_box cont wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                           <div class="content_box">
                              <div class="doctor_box type_two" style="position: relative;margin: 10px 15px 0px; border-radius: 10px;">
                                 <div class="content_box ">
                                    <a href="tel:9437217846" class="contact_doctor "><span class="fa fa-phone "></span>9437217846</a><br>
                                    <div class="text_box ">
                                       <h2> <a href="# ">Dr. Suresh Ch Mishra</a> </h2>
                                       <small>Cardio vascular</small>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4">
                        <div class="icon_box cont wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                           <div class="content_box">
                              <div class="doctor_box type_two" style="position: relative;margin: 10px 15px 0px; border-radius: 10px;">
                                 <div class="content_box ">
                                    <a href="tel:9437066627" class="contact_doctor "><span class="fa fa-phone "></span>9437066627</a><br>
                                    <div class="text_box ">
                                       <h2> <a href="# ">Dr.K K Panigrahy</a> </h2>
                                       <small>Urologist</small>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     
                     <div class="col-lg-4">
                        <div class="icon_box cont wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                           <div class="content_box">
                              <div class="doctor_box type_two" style="position: relative;margin: 10px 15px 0px; border-radius: 10px;">
                                 <div class="content_box ">
                                    <a href="tel:9437091705" class="contact_doctor "><span class="fa fa-phone "></span>9437091705</a><br>
                                    <div class="text_box ">
                                       <h2> <a href="# ">Dr.Padma Sagar Das</a> </h2>
                                       <small>Ophthalmologist</small>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4">
                        <div class="icon_box cont wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                           <div class="content_box">
                              <div class="doctor_box type_two" style="position: relative;margin: 10px 15px 0px; border-radius: 10px;">
                                 <div class="content_box ">
                                    <a href="tel:9937128813" class="contact_doctor "><span class="fa fa-phone "></span>9937128813</a><br>
                                    <div class="text_box ">
                                       <h2> <a href="# ">Dr. Ashok Kumar Otta</a> </h2>
                                       <small>Surgeon</small>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4">
                        <div class="icon_box cont wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                           <div class="content_box">
                              <div class="doctor_box type_two" style="position: relative;margin: 10px 15px 0px; border-radius: 10px;">
                                 <div class="content_box ">
                                    <a href="tel:9437114376" class="contact_doctor "><span class="fa fa-phone "></span>9437114376</a><br>
                                    <div class="text_box ">
                                       <h2> <a href="# ">D. Pratap Ch Mandal</a> </h2>
                                       <small>Pulmonologist</small>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4">
                        <div class="icon_box cont wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                           <div class="content_box">
                              <div class="doctor_box type_two" style="position: relative;margin: 10px 15px 0px; border-radius: 10px;">
                                 <div class="content_box ">
                                    <a href="tel:9437263358" class="contact_doctor "><span class="fa fa-phone "></span>9437263358   </a><br>
                                    <div class="text_box ">
                                       <h2> <a href="# ">Dr. P K Kar</a> </h2>
                                       <small>Surgeon</small>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4">
                        <div class="icon_box cont wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                           <div class="content_box">
                              <div class="doctor_box type_two" style="position: relative;margin: 10px 15px 0px; border-radius: 10px;">
                                 <div class="content_box ">
                                    <a href="tel:9937012250" class="contact_doctor "><span class="fa fa-phone "></span>9937012250</a><br>
                                    <div class="text_box ">
                                       <h2> <a href="# ">Dr. Manoj Panigrahi</a> </h2>
                                       <small>Urologist</small>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4">
                        <div class="icon_box cont wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                           <div class="content_box">
                              <div class="doctor_box type_two" style="position: relative;margin: 10px 15px 0px; border-radius: 10px;">
                                 <div class="content_box ">
                                    <a href="tel:9849282547" class="contact_doctor "><span class="fa fa-phone "></span>9849282547</a><br>
                                    <div class="text_box ">
                                       <h2> <a href="# ">Dr. Karunakar Padhy</a> </h2>
                                       <small>Cardio vascular</small>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4">
                        <div class="icon_box cont wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                           <div class="content_box">
                              <div class="doctor_box type_two" style="position: relative;margin: 10px 15px 0px; border-radius: 10px;">
                                 <div class="content_box ">
                                    <a href="tel:8249134993" class="contact_doctor "><span class="fa fa-phone "></span>8249134993</a><br>
                                    <div class="text_box ">
                                       <h2> <a href="# ">Dr. Pradyut Rath</a> </h2>
                                       <small>Mediciner</small>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4">
                        <div class="icon_box cont wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                           <div class="content_box">
                              <div class="doctor_box type_two" style="position: relative;margin: 10px 15px 0px; border-radius: 10px;">
                                 <div class="content_box ">
                                    <a href="tel:9439228905" class="contact_doctor "><span class="fa fa-phone "></span>9439228905</a><br>
                                    <div class="text_box ">
                                       <h2> <a href="# ">Dr. Saroj Bandhu Pradhan</a> </h2>
                                       <small>Surgery</small>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4">
                        <div class="icon_box cont wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                           <div class="content_box">
                              <div class="doctor_box type_two" style="position: relative;margin: 10px 15px 0px; border-radius: 10px;">
                                 <div class="content_box ">
                                    <a href="tel:9437166500" class="contact_doctor "><span class="fa fa-phone "></span>9437166500</a><br>
                                    <div class="text_box ">
                                       <h2> <a href="# ">Dr. Prakash Ch Patro</a> </h2>
                                       <small>Diabetologist</small>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4">
                        <div class="icon_box cont wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                           <div class="content_box">
                              <div class="doctor_box type_two" style="position: relative;margin: 10px 15px 0px; border-radius: 10px;">
                                 <div class="content_box ">
                                    <a href="tel:7008567085" class="contact_doctor "><span class="fa fa-phone "></span>7008567085</a><br>
                                    <div class="text_box ">
                                       <h2> <a href="# ">Dr. Jyoti Prasad Pattaik</a> </h2>
                                       <small>General Physician</small>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4">
                        <div class="icon_box cont wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                           <div class="content_box">
                              <div class="doctor_box type_two" style="position: relative;margin: 10px 15px 0px; border-radius: 10px;">
                                 <div class="content_box ">
                                    <a href="tel:9437186217" class="contact_doctor "><span class="fa fa-phone "></span>9437186217</a><br>
                                    <div class="text_box ">
                                       <h2> <a href="# ">Dr. Pranati Misha</a> </h2>
                                       <small>Gynaecologist</small>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4">
                        <div class="icon_box cont wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                           <div class="content_box">
                              <div class="doctor_box type_two" style="position: relative;margin: 10px 15px 0px; border-radius: 10px;">
                                 <div class="content_box ">
                                    <a href="tel:9437323270" class="contact_doctor "><span class="fa fa-phone "></span>9437323270</a><br>
                                    <div class="text_box ">
                                       <h2> <a href="# ">Dr.Arun Kumar Sahu</a> </h2>
                                       <small>Pulmonologist</small>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4">
                        <div class="icon_box cont wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                           <div class="content_box">
                              <div class="doctor_box type_two" style="position: relative;margin: 10px 15px 0px; border-radius: 10px;">
                                 <div class="content_box ">
                                    <a href="tel:9438025630" class="contact_doctor "><span class="fa fa-phone "></span>9438025630</a><br>
                                    <div class="text_box ">
                                       <h2> <a href="# ">Dr. Lalit Rath</a> </h2>
                                       <small>General Physician</small>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4">
                        <div class="icon_box cont wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                           <div class="content_box">
                              <div class="doctor_box type_two" style="position: relative;margin: 10px 15px 0px; border-radius: 10px;">
                                 <div class="content_box ">
                                    <a href="tel:9437015224" class="contact_doctor "><span class="fa fa-phone "></span>9437015224</a><br>
                                    <div class="text_box ">
                                       <h2> <a href="# ">Dr. A V Ranganadham</a> </h2>
                                       <small>Orthopedic</small>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4">
                        <div class="icon_box cont wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                           <div class="content_box">
                              <div class="doctor_box type_two" style="position: relative;margin: 10px 15px 0px; border-radius: 10px;">
                                 <div class="content_box ">
                                    <a href="tel:9439337737" class="contact_doctor "><span class="fa fa-phone "></span>9439337737</a><br>
                                    <div class="text_box ">
                                       <h2> <a href="# ">Dr.Uma Pr Padhi</a> </h2>
                                       <small>Neurologist</small>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4">
                        <div class="icon_box cont wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                           <div class="content_box">
                              <div class="doctor_box type_two" style="position: relative;margin: 10px 15px 0px; border-radius: 10px;">
                                 <div class="content_box ">
                                    <a href="tel:9437069633" class="contact_doctor "><span class="fa fa-phone "></span>9437069633</a><br>
                                    <div class="text_box ">
                                       <h2> <a href="# ">Dr. B N R Subudhi</a> </h2>
                                       <small>Opthamologist</small>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4">
                        <div class="icon_box cont wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                           <div class="content_box">
                              <div class="doctor_box type_two" style="position: relative;margin: 10px 15px 0px; border-radius: 10px;">
                                 <div class="content_box ">
                                    <a href="tel:9660082089" class="contact_doctor "><span class="fa fa-phone "></span>9660082089</a><br>
                                    <div class="text_box ">
                                       <h2> <a href="# ">Dr. Priyajeet Panigrahi</a> </h2>
                                       <small>E.N.T.</small>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4">
                        <div class="icon_box cont wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                           <div class="content_box">
                              <div class="doctor_box type_two" style="position: relative;margin: 10px 15px 0px; border-radius: 10px;">
                                 <div class="content_box ">
                                    <a href="tel:9437388844" class="contact_doctor "><span class="fa fa-phone "></span>9437388844</a><br>
                                    <div class="text_box ">
                                       <h2> <a href="# ">Dr. Sambit kumar Panda</a> </h2>
                                       <small>Orthopedic</small>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="container">
                  <div class="row">
                     <div class='col-lg-12'  style='text-align:center'>
                        <p style='color:#000;margin-top:2%;font-size:120%;line-height:30px;text-align:center'><b>Powered By</b></p>
                     </div>
                  </div>
                  <div class="row" style='margin-top:2%;'>
                     <div class="col-lg-2"></div>
                     <div class="col-lg-4 col-4" style='text-align:center'>
                        <a href='https://odisha.gov.in/' target="_blank"><img src="assets/image/govtodisha.svg" alt="bemc" width='300' class='img-fluid'></a>
                     </div>
                     <div class="col-lg-4 col-4" style='text-align:center'>
                         <a href='https://health.odisha.gov.in/' target='_blank'><img src="assets/image/odisha-logo.png" alt="ganjam" width='800' class='img-fluid'></a>
                     </div>
                  </div>
               </div>
            </section>
            <section class="footer type_two ">
               <div class="footer_layer" style="background-image: url(assets/image/resources/footer-bg1.png);"></div>
               <div class="container ">
                  <div class="row">
                     <div class='col-lg-12'  style='text-align:center'>
                        <a href="index.html"><img src="assets/image/home-1-logo-white.png " width='190' class="img-fluid " alt="logo "></a> <p style='color:#fff;margin-top:2%;font-size:120%;line-height:30px;text-align:center'>In Collaboration Wth</p>
                     </div>
                  </div>
                  <div class="row" style='margin-top:2%;'>
                     <div class="col-lg-4 col-4" style='text-align:center'>
                        <a href='http://berhampur.gov.in' target="_blank"><img src="assets/image/bemc.png" alt="bemc" width='200' class='img-fluid'></a>
                     </div>
                     <div class="col-lg-4 col-4" style='text-align:center'>
                         <a href='https://ganjam.nic.in' target='_blank'><img src="assets/image/ganjam.png" alt="ganjam" width='120' class='img-fluid'></a>
                     </div>
                     <div class="col-lg-4 col-4" style='text-align:center'>
                        <a href='https://teceads.com' target='_blank'><img src="assets/image/teceads.png" alt="teceads" width='130' class='img-fluid'></a>
                     </div>
                  </div>
                  <div class="footer_last type_two ">
                     <div class="row ">
                        <div class="col-lg-12 text-center ">
                           <p>Copyright © 2021 SWOSTH. All Rights Reserved  <a href='https://www.teceads.com'>Teceads</a>.</p>
                        </div>
                     </div>
                  </div>
               </div>
            </section>
            <!-------------main-centent-end--------------->
         </main>
         <!-------------pagewapper-end--------------->
      </div>
      <!--Scroll to top-->
      <a href="# " id="scroll" class="default-bg " style="display: inline;"><span class="fa fa-angle-up "></span></a>
      <!---------mbile-navbar----->
      <div class="bsnav-mobile ">
         <div class="bsnav-mobile-overlay"></div>
         <div class="navbar ">
            <button class="navbar-toggler toggler-spring mobile-toggler"><span class="fa fa-close "></span></button>
         </div>
      </div>
      <!---------mbile-navbar----->
      <!-- /.side-menu__block -->
      <div class="side-menu__block">
         <div class="side-menu__block-overlay custom-cursor__overlay">
            <div class="cursor"></div>
            <div class="cursor-follower"></div>
         </div>
         <!-- /.side-menu__block-overlay -->
         <div class="side-menu__block-inner">
            <div class="row">
               <div class="col-lg-12">
                  <div class="logo_site">
                     <a href="index"><img src="assets/image/home-1-logo.png" alt="logo" /></a>
                  </div>
                  <div class="side-menu__block-contact">
                     <h2>Quick Online Consultancy Only on Few Minutes</h2>
                     <div class="form_outer">
                        <form>
                           <div class="from_group">
                              <input type="text" name="name" placeholder="Name" />
                           </div>
                           <div class="from_group">
                              <input type="email" name="email" placeholder="Email" />
                           </div>
                           <div class="from_group">
                              <input type="text" name="phone" placeholder="Phone" />
                           </div>
                           <div class="from_group">
                              <textarea rows="4" placeholder="Share Your Thoughts"></textarea>
                           </div>
                           <div class="from_group">
                              <button  class="theme_btn tp_one" type="submit">Contact Us</button>
                           </div>
                        </form>
                     </div>
                  </div>
                  <!-- /.side-menu__block-contact -->
                  <p class="side-menu__block__text site-footer__copy-text">Copyright © 2020 SWOSTH.</p>
               </div>
            </div>
            <!-- /.side-menu__block-inner -->
         </div>
      </div>
      <!-- /.side-menu__block -->
      <!-- /.search-popup -->
      <div class="search-popup">
         <div class="search-popup__overlay custom-cursor__overlay">
            <div class="cursor "></div>
            <div class="cursor-follower "></div>
         </div>
         <!-- /.search-popup__overlay -->
         <div class="search-popup__inner ">
            <form action="# " class="search-popup__form ">
               <input type="text" name="search" placeholder="Type here to Search.... ">
               <button type="submit"><i class="flaticon-magnifying-glass "></i></button>
            </form>
         </div>
         <!-- /.search-popup__inner -->
      </div>
      <!-- /.search-popup -->
      <!-----------------------------------script-------------------------------------->
      <script src="assets/js/jquery.js "></script>
      <script src="assets/js/popper.min.js "></script>
      <script src="assets/js/bootstrap.min.js "></script>
      <script src="assets/js/bsnav.min.js "></script>
      <script src="assets/js/jquery-ui.js "></script>
      
      <script src="assets/js/wow.js "></script>
      <script src="assets/js/owl.js "></script>
      <script src="assets/js/odometer.min.js "></script>
      <script src="assets/js/TweenMax.min.js "></script>
      <script src="assets/js/validator.min.js "></script>
      <script src="assets/js/appear.js "></script>
      <script src="assets/js/moment.js "></script>
      <script src="assets/js/jquery.flexslider-min.js"></script>
      <script src="assets/js/pagenav.js"></script>
      <script src="assets/js/custom.js "></script>
   </body>
</html>