<%- include("header",{element: element}); -%>


<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="float-right align-item-center mt-2">
                <button class="btn btn-info px-4 align-self-center report-btn">Creat Report</button>
            </div>
            <h4 class="page-title mb-2"><i class="mdi mdi-monitor mr-2"></i>Add Section</h4>  
            <div class="">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">District Covid Management</a></li>
                    <li class="breadcrumb-item active">Add Section</li>
                </ol>
            </div>                                      
        </div>
    </div>
</div>
<!-- end page title end breadcrumb -->
<%- include("header2"); -%>
                <!-- Page Content-->
                <div class="page-content" style="overflow: scroll;">
                    <div class="container-fluid"> 

                        <form action="" method="POST" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card">
                                        <div class="card-body">        
                                          <h4 class="mt-0 header-title">Section 1</h4>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="form-group row">
                                                        <label for="example-text-input" class="col-sm-2 col-form-label text-right">Name of the Section</label>
                                                        <div class="col-sm-10">
                                                            <input class="form-control" type="text" name="section_name" id="example-text-input">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="example-number-input" class="col-sm-2 col-form-label text-right">No of beds</label>
                                                        <div class="col-sm-10">
                                                            <input class="form-control" type="number" name="beds" id="example-number-input" min="1">
                                                        </div>
                                                    </div>                  
                                                </div>
                                            </div>                                                                      
                                        </div><!--end card-body-->
                                    </div><!--end card-->
                                </div><!--end col-->
                            </div><!--end row-->
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card">
                                        <div class="card-body">        
                                            <h4 class="mt-0 header-title">Section 2</h4>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="form-group row">
                                                        <label for="example-text-input" class="col-sm-2 col-form-label text-right">Name of the Section</label>
                                                        <div class="col-sm-10">
                                                            <input class="form-control" type="text" name="section_name" id="example-text-input">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="example-number-input" class="col-sm-2 col-form-label text-right">No of beds</label>
                                                        <div class="col-sm-10">
                                                            <input class="form-control" type="number" name="beds" id="example-number-input" min="1">
                                                        </div>
                                                    </div>                  
                                                </div>
                                            </div>                                                                      
                                        </div><!--end card-body-->
                                    </div><!--end card-->
                                </div><!--end col-->
                            </div><!--end row-->
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card">
                                        <div class="card-body">        
                                            <h4 class="mt-0 header-title">Section 3</h4>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="form-group row">
                                                        <label for="example-text-input" class="col-sm-2 col-form-label text-right">Name of the Section</label>
                                                        <div class="col-sm-10">
                                                            <input class="form-control" type="text" name="section_name" id="example-text-input">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="example-number-input" class="col-sm-2 col-form-label text-right">No of beds</label>
                                                        <div class="col-sm-10">
                                                            <input class="form-control" type="number" name="beds" id="example-number-input" min="1">
                                                        </div>
                                                    </div>    
                                                    <div class="row">
                                                        <div class="col-sm-12 text-right">
                                                            <button type="submit" class="btn btn-primary">Submit</button>
                                                        </div>
                                                    </div>               
                                                </div>
                                            </div>                                                                      
                                        </div><!--end card-body-->
                                    </div><!--end card-->
                                </div><!--end col-->
                            </div><!--end row-->
                        </form>
                    </div><!-- container -->
                    
                    <footer class="footer text-center text-sm-left">
                        &copy; 2021 District Covid Management <span class="text-muted d-none d-sm-inline-block float-right">Developed by <a href="www.teceads.com">Teceads</a></span>
                    </footer>
                </div>
                <!-- end page content -->
            </div>
            <!--end page-wrapper-inner -->
        </div>
        <!-- end page-wrapper -->

        <!-- jQuery  -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/bootstrap.bundle.min.js"></script>
        <script src="assets/js/metisMenu.min.js"></script>
        <script src="assets/js/waves.min.js"></script>
        <script src="assets/js/jquery.slimscroll.min.js"></script>

        <!-- App js -->
        <script src="assets/js/app.js"></script>

    </body>
</html>