<!-- <footer class="footer text-center text-sm-left">
  &copy; 2021 District Covid Management <span class="text-muted d-none d-sm-inline-block float-right">Developed by <a href="www.teceads.com">Teceads</a></span>
</footer> -->
<%- include("referral_noti"); -%>

      <!-- end page content -->
    </div>
    <!--end page-wrapper-inner -->
    
</div>
<!-- end page-wrapper -->
 <!-- jQuery  -->




 <script src="assets/js/jquery.min.js"></script>
 <script src="assets/js/bootstrap.bundle.min.js"></script>
 <script src="assets/js/metisMenu.min.js"></script>
 <script src="assets/js/waves.min.js"></script>
 <script src="assets/js/jquery.slimscroll.min.js"></script>


 <script src="assets/plugins/moment/moment.js"></script>

 <script src="assets/plugins/apexcharts/apexcharts.min.js"></script>
 <script src="https://apexcharts.com/samples/assets/irregular-data-series.js"></script>
 <script src="https://apexcharts.com/samples/assets/series1000.js"></script>
 <script src="https://apexcharts.com/samples/assets/ohlc.js"></script>

 <script src="assets/plugins/jvectormap/jquery-jvectormap-2.0.2.min.js"></script>
 <script src="assets/plugins/jvectormap/jquery-jvectormap-us-aea-en.js"></script>

 <script src="assets/plugins/custombox/custombox.min.js"></script>
 <script src="assets/plugins/custombox/custombox.legacy.min.js"></script>
 <script src="assets/pages/jquery.modal-animation.js"></script>
 <script src="assets/plugins/dropzone/dist/dropzone.js" ></script>

 <script src="assets/plugins/dropify/js/dropify.min.js"></script>
 <script src="assets/pages/jquery.form-upload.init.js"></script>


  <!-- Sweet-Alert  -->
  <script src="assets/plugins/sweet-alert2/sweetalert2.min.js"></script>
  <script src="assets/pages/jquery.sweet-alert.init.js"></script>
 

  <!-- Required datatable js -->
  <script src="assets/plugins/datatables/jquery.dataTables.min.js"></script>
  <script src="assets/plugins/datatables/dataTables.bootstrap4.min.js"></script>
  <!-- Buttons examples -->
  <script src="assets/plugins/datatables/dataTables.buttons.min.js"></script>
  <script src="assets/plugins/datatables/buttons.bootstrap4.min.js"></script>
  <script src="assets/plugins/datatables/jszip.min.js"></script>
  <script src="assets/plugins/datatables/pdfmake.min.js"></script>
  <script src="assets/plugins/datatables/vfs_fonts.js"></script>
  <script src="assets/plugins/datatables/buttons.html5.min.js"></script>
  <script src="assets/plugins/datatables/buttons.print.min.js"></script>
  <script src="assets/plugins/datatables/buttons.colVis.min.js"></script>
  <!-- Responsive examples -->
  <script src="assets/plugins/datatables/dataTables.responsive.min.js"></script>
  <script src="assets/plugins/datatables/responsive.bootstrap4.min.js"></script>
  <script src="assets/pages/jquery.datatable.init.js"></script>

  <script src="assets/plugins/chartist/js/chartist.min.js"></script>
  <script src="assets/plugins/chartist/js/chartist-plugin-tooltip.min.js"></script>
  <script src="assets/pages/jquery.chartist.init.js"></script>



  <!-- Required datatable js -->
 

  <script src="assets/pages/jquery.dashboard-2.init.js"></script>

  <!-- App js -->
  <script src="assets/js/app.js"></script>



</body>

</html>