</div><!--end page-wrapper-img-inner-->
</div><!--end page-wrapper-img-->

<div class="page-wrapper">
    <div class="page-wrapper-inner">

        <!-- Left Sidenav -->
        <div class="left-sidenav">
            
            <ul class="metismenu left-sidenav-menu" id="side-nav">

                <li class="menu-title">Main</li>
                <li>
                    <a href="/home"><i class="mdi mdi-monitor"></i><span>Hospital Dashboard</span></a>
                    
                </li>
                <li>
                    <a href="/covid_dashboard"><i class="mdi mdi-monitor"></i><span>Covid Dashboard</span></a>
                    
                </li>
                <!-- <li>
                    <a href="/updateactivecase"><i class="mdi mdi-clipboard-account-outline"></i><span> Active cases</span></a>
                    
                </li> -->
                <li class="active">
                    <a href="javascript: void(0);"><i class="mdi mdi-apps"></i><span>Management</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                    <ul class="nav-second-level" aria-expanded="true">
                        <li><a href="/usermanagement"><span>User Management</span></a></li>
                        <li><a href="/centermanagement"><span>Center Management</span></a></li>
                       
                    </ul>
                </li>
                <li>
                    <a href="/hospitallist"><i class="mdi mdi-hospital-building"></i><span>Hospitals Status</span></a>
                   
                </li>
                <li class="active">
                    <a href="javascript: void(0);"><i class="mdi mdi-apps"></i><span>Hospital Patients</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                    <ul class="nav-second-level" aria-expanded="true">
                        <li><a href="/p_list"><span>Active Patients</span></a></li>
                        <li><a href="/d_p_list"><span>Discharged Patients</span></a></li>                       
                    </ul>
                </li>
                <li class="active">
                    <a href="javascript: void(0);"><i class="mdi mdi-apps"></i><span>Referrals</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                    <ul class="nav-second-level" aria-expanded="true">
                        <li><a href="/cov_in_referral"><span>Incoming Referrals</span></a></li>
                        <li><a href="/cov_out_referral"><span>Outgoing Referrals</span></a></li>
                        <li><a href="/activereferral"><span>Active Referrals</span></a></li>
                        <li><a href="/servedreferral"><span>Served Referrals</span></a></li>   
                    </ul>
                </li>
                
               
                <!-- <li>
                    <a href="javascript: void(0);"><i class="mdi mdi-apps"></i><span>Supplies</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li><a href="patient_registration.html"><span>Register Patient</span></a></li>
                        <li><a href="centre_list.html"><span>Patient List</span></a></li>
                    </ul>
                </li>
                <li>
                    <a href="dashboard.html"><i class="mdi mdi-monitor"></i><span>Reports</span></a>
                    
                </li> -->
            </ul>
        </div>
        <!-- end left-sidenav
            usermanagement
            centermanagement
            patientmanagement
            updateactivecase
        -->
