</div><!--end page-wrapper-img-inner-->
</div><!--end page-wrapper-img-->

<div class="page-wrapper">
    <div class="page-wrapper-inner">

        <!-- Left Sidenav -->
        <div class="left-sidenav">
            
            <ul class="metismenu left-sidenav-menu" id="side-nav">

                <li class="menu-title">Main</li>

                <li>
                    <a href="index.html"><i class="mdi mdi-monitor"></i><span>Dashboard</span><span class="badge badge-danger badge-pill float-right">9+</span></a>
                    
                </li>
                <li class="active">
                    <a href="javascript: void(0);"><i class="mdi mdi-apps"></i><span>Management</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                    <ul class="nav-second-level" aria-expanded="true">
                        <li><a href="usermanagement"><span>User Management</span></a></li>
                        <li><a href="centermanagement"><span>Center Management</span></a></li>
                        <li><a href="patientmanagement"><span>Patient Management</span></a></li>
                        <li><a href="sectionmanagement"><span>Section Management</span></a></li>
                        <li><a href="updateactivecase"><span>Update Active cases</span></a></li>
                        <li><a href="referralsmanagement"><span>Referrals Management</span></a></li>
                       
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);"><i class="mdi mdi-apps"></i><span>Patient Management</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                    <ul class="nav-second-level" aria-expanded="true">
                        <li><a href="patient_registration.html"><span>Register Patient</span></a></li>
                        <li><a href="centre_list.html"><span>Patient List</span></a></li>
                    </ul>
                </li>
                <!-- <li>
                    <a href="javascript: void(0);"><i class="mdi mdi-apps"></i><span>Supplies</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li><a href="patient_registration.html"><span>Register Patient</span></a></li>
                        <li><a href="centre_list.html"><span>Patient List</span></a></li>
                    </ul>
                </li>
                <li>
                    <a href="dashboard.html"><i class="mdi mdi-monitor"></i><span>Reports</span></a>
                    
                </li> -->
            </ul>
        </div>
        <!-- end left-sidenav
            usermanagement
            centermanagement
            patientmanagement
            updateactivecase
        -->
