</div><!--end page-wrapper-img-inner-->
</div><!--end page-wrapper-img-->

<div class="page-wrapper">
    <div class="page-wrapper-inner">

        <!-- Left Sidenav -->
        <div class="left-sidenav">
            
            <ul class="metismenu left-sidenav-menu" id="side-nav">

                <li class="menu-title">Main</li>
                <li>
                    <a href="/home"><i class="mdi mdi-monitor"></i><span>Active Referrals</span></a>
                    <a href="/served-referrals-rrt"><i class="mdi mdi-monitor"></i><span>Served Referrals</span></a>
                    
                </li>

                
                
               
                <!-- <li>
                    <a href="javascript: void(0);"><i class="mdi mdi-apps"></i><span>Supplies</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li><a href="patient_registration.html"><span>Register Patient</span></a></li>
                        <li><a href="centre_list.html"><span>Patient List</span></a></li>
                    </ul>
                </li>
                <li>
                    <a href="dashboard.html"><i class="mdi mdi-monitor"></i><span>Reports</span></a>
                    
                </li> -->
            </ul>
        </div>
        <!-- end left-sidenav
            usermanagement
            centermanagement
            patientmanagement
            updateactivecase
        -->
